<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653901962727-sl2ltl91qqkf0c5n534vnottq1vg3gdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653901962727-sl2ltl91qqkf0c5n534vnottq1vg3gdp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653901962727-79pqepps96jb864jumkn26qrrlc7kqtq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1dCpqTdFQiZOPQpU7OJNINASOVOR8djs</string>
	<key>GCM_SENDER_ID</key>
	<string>653901962727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkwareAlpha</string>
	<key>PROJECT_ID</key>
	<string>parkware-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>parkware-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653901962727:ios:6c990c578786dca0b43142</string>
</dict>
</plist>